body {
    background-color: bisque;
}

.keys {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.key {
    padding: 10px;
    width: 70px;
    height: 70px;
    background-color: #333333;
    color: white;
    margin: 10px;
    box-shadow: -1px -1px 15px 2px rgba(51, 51, 51, 1);
    border-radius: 5px;
    text-align: center;
}

kbd {
    font-size: 40px;
    text-align: center;
}