html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

div {
    width: 100%;
    padding: 100px;
}

.one {
    background: rgb(211, 149, 211);
}

.two {
    background: rgb(250, 184, 176);
}

.three {
    background: rgb(255, 91, 32);
}